
body{
  background-image: linear-gradient(to bottom right, yellow, pink, blue);}


h1{
    font-size: 50px;
    line-height: 1;
    padding: 50px 0;
    text-align: center;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0px 0px 25px white; 
    
  }
ul{
    background-color: black;
    height: 50px ;
    border-radius: 25px;
    padding: 10px;
}


li:hover {
    background-color: #666;
    color: white;
    
}


  nav li{
      display: inline;
      padding: 15px;
      float: left;
      font-family: 'Verdana';
      color: white;
      
  }

  nav li a{
    color: white;
  }


  img{
      width: 300px;
      margin-right: auto;
      display: block;
  
  }

  p{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    width: 600px;
    
    
  }
/* home */
  .container {
    display: grid;
    grid-template-columns: 5fr 5fr 5fr;
    row-gap: 15px;
    justify-items: center;
    align-items: center;
    
  }

  .baby-image{ 
    grid-column: 2 / 3;
    grid-row: 2;
    
      } 

  .overview{
    grid-column: 2/3;
    grid-row: 1;
    
  }

  .about-image{
    grid-column: 1/2;
    grid-row: 2;
  }

  .young-image{
    grid-column: 2/3;
    grid-row: 2;
    
    
  }
  .baby-image{
    grid-column: 3/4;
    grid-row: 2;
  }
  .headshot-image{
    grid-column: 1/2;
    grid-row: 3;
  }
  .birthday-image{
    grid-column: 2/3;
    grid-row: 3;
  }
  .camel-image{
    grid-column: 3/4;
    grid-row: 3;
  }
  .arcade-image{
    grid-column: 1/2;
    grid-row: 4;
  }
  .sam-image{
    grid-column: 2/3;
    grid-row: 4;
  }
  .skater-image{
    grid-column: 3/4;
    grid-row: 4;
  }




/* family life */
  .carly-image{
    grid-column: 1/2;
    grid-row: 2;
  }

  .old_fam-image{
    grid-column: 2/3;
    grid-row: 2;
  }
  .tailgate-image{
    grid-column: 3/4;
    grid-row: 2;
  }
  .dad-image{
    grid-column: 1/2;
    grid-row: 3;
  }
  .maronis-image{
    grid-column: 2/3;
    grid-row: 3;
  }
  .oldmom-image{
    grid-column: 3/4;
    grid-row: 3;
  }
  .mom-image{
    grid-column: 1/2;
    grid-row: 4;
  }
  .siblings-image{
    grid-column: 2/3;
    grid-row: 4;
  }
  .carlyandsam-image{
    grid-column: 3/4;
    grid-row: 4;
  }


  /* student life */
  .firstday-image{
    grid-column: 1/2;
    grid-row: 2;
    
  }

  .umich-image{
    grid-column: 2/3;
    grid-row: 2;
  }
  .reach-image{
    grid-column: 3/4;
    grid-row: 2;
  }
  .stadium-image{
    grid-column: 1/2;
    grid-row: 3;
  }
  .field-image{
    grid-column: 2/3;
    grid-row: 3;
  }
  .osu-image{
    grid-column: 3/4;
    grid-row: 3;
  }
  .umsi-image{
    grid-column: 1/2;
    grid-row: 4;
  }
  .phouse-image{
    grid-column: 2/3;
    grid-row: 4;
  }
  .pinball-image{
    grid-column: 3/4;
    grid-row: 4;
  }

/* testing flip */
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
  


}

footer{
text-align: center;
width: 100%;
margin: auto;

}