body{
  background-image: linear-gradient(rgb(149, 243, 255), white) ;
  width: 100%;
}
.bit-image-2{
  display: none;
}

.skip{
  left: 30%;
  position: absolute;
  transform: translateY(-100%);
}

.skip{
  background:rgb(149, 243, 255);
  height: 30px;
  left: 30%;
  padding: 8px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skip:focus {
  transform: translateY(0%);
}




h1{
    font-size: 50px;
    line-height: 1;
    text-align: center;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:bolder;
    text-shadow: 0px 0px 15px white; 
  }

  h2{
    font-size: 40px;
    line-height: 1;
    text-align: center;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
   
  }





ul{
  list-style-type: none;
  margin: 5px;
  padding: inherit;
  width: 200px;
    background-color: black;
    height: 130px ;
    border-radius: 10px;
    /* padding: 10px; */
}


.active {
    background-color: #595959;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    width: inherit;
    
}

nav li a:hover{
  font-weight: bold;
}


  /* nav li{
     display: inline; 
      padding: 15px;
      float: left;
      font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: white;
      
  } */

  nav li a{
    display: block;
    justify-content: space-evenly;
    width: 60%;
    margin: 10px;
    color: white;
    /* float: inline-start; */
    padding-top: inherit;
    font-size: 20px;
    text-decoration: underline;
    padding: 4px 4px 4px 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

   


  img{
      width: 300px;
      margin-right: auto;
      margin-left: auto;
      display: block;
      box-shadow: 0 0 10px rgb(65, 65, 65);
      
  }

  p{
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    width: inherit;
  }

  h3{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  h4{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal
  }



  #two{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
   

  }

footer p{
  text-align: center;
  width: 100%;
  margin: auto;
  display:flex;
  justify-content: center;
  font-size: 18px;
  padding-top: 10px;
  
  }
  
/* home */

.container{
  justify-content: center;
}



.overview{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin: 0 auto;
}

.overview p{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin: 0 auto;
  padding: 5px;
}

.pics{
  justify-self: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  justify-content: center;
  margin: 0 auto;
}

/* testing flip */
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
  


}
@media screen and (min-width: 750px){
 
  
 .bit-image-2{
   display: none;
   ;
 }
 



  .pics {
    display: grid;
    grid-template-columns: 5fr 5fr;
    row-gap: 15px;
    justify-items: center;
    align-items: center;
    
  }

  .about-image{
    grid-column: 1/2;
    grid-row: 2;
  }

  .young-image{
    grid-column: 2/3;
    grid-row: 2;
    
    
  }
  .baby-image{
    grid-column: 1/2;
    grid-row: 3;
  }
  .headshot-image{
    grid-column: 2/3;
    grid-row: 3;
  }
  .birthday-image{
    grid-column: 1/2;
    grid-row: 4;
  }
  .camel-image{
    grid-column: 2/3;
    grid-row: 4;
  }
  .arcade-image{
    grid-column: 1/2;
    grid-row: 5;
  }
  .sam-image{
    grid-column: 2/3;
    grid-row: 5;
  }
  .skater-image{
    grid-column: 1/2;
    grid-row: 6;
  }


  /* student life */
  .firstday-image{
    grid-column: 1/2;
    grid-row: 2;
  }

  .umich-image{
    grid-column: 2/3;
    grid-row: 2;
  }
  .reach-image{
    grid-column: 1/2;
    grid-row: 3;
  }
  .stadium-image{
    grid-column: 2/3;
    grid-row: 3;
  }
  .field-image{
    grid-column: 1/2;
    grid-row: 4;
  }
  .osu-image{
    grid-column: 2/3;
    grid-row: 4;
  }
  .umsi-image{
    grid-column: 1/2;
    grid-row: 5;
  }
  .phouse-image{
    grid-column: 2/3;
    grid-row: 5;
  }
  .pinball-image{
    grid-column: 1/2;
    grid-row: 6;
  }
  

  ul{
    list-style-type: none;
    margin: 5px;
    overflow: hidden;
    background-color: black;
    height: 50px ;
    border-radius: 25px;
    padding: 10px;
    width: inherit;
    
    
}

nav a{
  vertical-align: middle;
  display: inline-block;
  
}
.active {
    background-color: #595959;
    border-radius: 15px;
    color: white;
    font-weight: bolder;

}

nav li a:hover{
  font-weight: bold;
}


  nav li{
    float: left;
    margin: 0 auto;
    display: table;
  }

  nav li a{
    display: inline;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    width: 500px;
    line-height: 50px;
   align-items: center;
  }

 
}



@media screen and (min-width: 900px){
  .bit-image-2{
    display: block;
    box-shadow: none;
  }
  



.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

  .pics {
    display: grid;
    grid-template-columns: 5fr 5fr 5fr;
    row-gap: 15px;
    justify-items: center;
    align-items: center;
    
  }
  

  .baby-image{ 
    grid-column: 2 / 3;
    grid-row: 2;
    
      } 

  

  .about-image{
    grid-column: 1/2;
    grid-row: 2;
  }

  .young-image{
    grid-column: 2/3;
    grid-row: 2;
    
    
  }
  .baby-image{
    grid-column: 3/4;
    grid-row: 2;
  }
  .headshot-image{
    grid-column: 1/2;
    grid-row: 3;
  }
  .birthday-image{
    grid-column: 2/3;
    grid-row: 3;
  }
  .camel-image{
    grid-column: 3/4;
    grid-row: 3;
  }
  .arcade-image{
    grid-column: 1/2;
    grid-row: 4;
  }
  .sam-image{
    grid-column: 2/3;
    grid-row: 4;
  }
  .skater-image{
    grid-column: 3/4;
    grid-row: 4;
  }


  /* student life */
  .firstday-image{
    grid-column: 1/2;
    grid-row: 2;
    
  }

  .umich-image{
    grid-column: 2/3;
    grid-row: 2;
  }
  .reach-image{
    grid-column: 3/4;
    grid-row: 2;
  }
  .stadium-image{
    grid-column: 1/2;
    grid-row: 3;
  }
  .field-image{
    grid-column: 2/3;
    grid-row: 3;
  }
  .osu-image{
    grid-column: 3/4;
    grid-row: 3;
  }
  .umsi-image{
    grid-column: 1/2;
    grid-row: 4;
  }
  .phouse-image{
    grid-column: 2/3;
    grid-row: 4;
  }
  .pinball-image{
    grid-column: 3/4;
    grid-row: 4;
  }
  ul{
    list-style-type: none;
    margin: 5px;
    overflow: hidden;
    background-color: black;
    height: 50px ;
    border-radius: 25px;
    padding: 10px;
    width: inherit;
    
    
}

nav a{
  vertical-align: middle;
  display: inline-block;
  
}
.active {
    background-color: #595959;
    border-radius: 15px;
    color: white;
    font-weight: bolder;

}

nav li a:hover{
  font-weight: bold;
}


  nav li{
    float: right;
    margin: 0 auto;
    margin-right: 5px;
    display: table;
    text-align: right;
  }

  nav li a{
    display: inline;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    width: inherit;
    line-height: 50px;
   align-items: center;
  }

 
}





  /* ul{
    background-color: black;
    height: 50px ;
    border-radius: 25px;
    padding: 10px;
    margin: 5px;
    align-items: center;
    
}
.active {
    background-color: #595959;
    border-radius: 15px;
    color: white;
    font-weight: bolder;
}

nav li a:hover{
  font-weight: bold;
}


  nav li{
      
      padding: 0px;
      
      float: left;
      font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: white;
      margin:  auto;
      
  }
 
   
 
    nav li a{
    display: inline;
    margin: 0 auto;
    padding: 10px;
    width: 100px;
    color: white;
    text-align: center;
    
  } */




  






/* family life 
  .carly-image{
    grid-column: 1/2;
    grid-row: 2;
  }

  .old_fam-image{
    grid-column: 2/3;
    grid-row: 2;
  }
  .tailgate-image{
    grid-column: 3/4;
    grid-row: 2;
  }
  .dad-image{
    grid-column: 1/2;
    grid-row: 3;
  }
  .maronis-image{
    grid-column: 2/3;
    grid-row: 3;
  }
  .oldmom-image{
    grid-column: 3/4;
    grid-row: 3;
  }
  .mom-image{
    grid-column: 1/2;
    grid-row: 4;
  }
  .siblings-image{
    grid-column: 2/3;
    grid-row: 4;
  }
  .carlyandsam-image{
    grid-column: 3/4;
    grid-row: 4;
  }










 